<h3>Create new project</h3>

<form>
  <div class="form-group">
    <label for="inputName">Project Name</label>
    <input type="text" class="form-control" id="inputName" placeholder="Enter Name of the project">
  </div>
  <div class="form-group">
    <label for="inputDesc">Description</label>
    <input type="text" class="form-control" id="inputDesc" placeholder="Enter project description">
  </div>
  <div class="form-group">
    <label for="inputEndDate">End date</label>
    <input  class="form-control" data-provide="datepicker" id="endDate">
  </div>
  <button type="submit" class="btn btn-primary" id="createProject">Submit</button>
</form>

<script src="/javascripts/libs/bootstrap-datepicker.min.js"></script>
<script src="/javascripts/create.js"></script>