<h3>List of all projects</h3>

<table id="projectsTable" class="display">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>End date</th>
            <th>Actions</th>
        </tr>
    </thead>
</table>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script src="/javascripts/projects.js"></script>

