<h3>Details for project {{id}}</h3>

<div class="container">
  <div class="row">
    <div class="col">
      Project Name:
    </div>
    <div class="col" id="name">
      Project x
    </div>
  </div>
  <div class="row">
    <div class="col">
      Project Description:
    </div>
    <div class="col">
      This is very cool project
    </div>
  </div>
  <div class="row">
    <div class="col">
      Is Active:
    </div>
    <div class="col">
      Yes
    </div>
  </div>
  <div class="row">
    <div class="col">
      End date:
    </div>
    <div class="col">
      22.06.2019
    </div>
  </div>
  <div class="row">
    <div class="col">
      Backeds number:
    </div>
    <div class="col">
      1
    </div>
  </div>
  <div class="row">
    <div class="col">
      Total amount collected:
    </div>
    <div class="col">
      100ETH
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <a href="#" class="btn btn-primary width-100" title="Back Project" id="backProject">Back Project</a>
    </div>
    <div class="col-1">
      <a href="#" class="btn btn-danger width-100" title="End Project" id="endProject">End Project</a>
    </div>
  </div>
</div>

<script src="/javascripts/projectDetails.js"></script>