<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
  <script src="/javascripts/libs/web3.min.js"></script>
  <script src="/javascripts/playground.js"></script>
</html>
